:root {
  --white: #fff;
  --white-transparent: rgba(255, 255, 255, 0.9);

  --w-25: #fff;
  --w-50: #fff;
  --w-75: #fff;
  --w-100: #fff;
  --w-200: #3B3A8F;
  --w-300: #3B3A8F;
  --w-400: #3B3A8F;
  --w-500: #3B3A8F;
  --w-600: #3B3A8F;
  --w-700: #3B3A8F;
  --w-800: #1C1D48;
  --w-900: #1C1D48;

  --g-50: #fff;
  --g-100: #fff;
  --g-200: #fff;
  --g-300: #00B58F;
  --g-400: #00B58F;
  --g-500: #00B58F;
  --g-600: #00B58F;
  --g-700: #00B58F;
  --g-800: #00B58F;
  --g-900: #00B58F;

  --y-50: #fff;
  --y-100: #fff;
  --y-200: #FFF;
  --y-300: #FFCE62;
  --y-400: #FFCE62;
  --y-500: #FFCE62;
  --y-600: #FFCE62;
  --y-700: #FFCE62;
  --y-800: #F26A35;
  --y-900: #F26A35;

  --s-25: #fff;
  --s-50: #fff;
  --s-75: #fff;
  --s-100: #fff;
  --s-200: #9294AE;
  --s-300: #9294AE;
  --s-400: #9294AE;
  --s-500: #9294AE;
  --s-600: #9294AE;
  --s-700: #000;
  --s-800: #000;
  --s-900: #000;

  --b-50: #F8F9FE;
  --b-100: #F2F3F7;
  --b-200: #E9EAEF;
  --b-300: #DADBDF;
  --b-400: #B6B7BB;
  --b-500: #96979C;
  --b-600: #6E6F73;
  --b-700: #5A5B5F;
  --b-800: #3C3D40;
  --b-900: #1B1C1F;

  --r-50: #FFEBEE;
  --r-100: #FFCCD1;
  --r-200: #F69898;
  --r-300: #EF6F6F;
  --r-400: #F94B4A;
  --r-500: #FF382D;
  --r-600: #F02B2D;
  --r-700: #DE1E27;
  --r-800: #D11320;
  --r-900: #C30011;

  --v-50: #FFFFFF;
  --v-100: #fff;
  --v-200: #AA2186;
  --v-300: #AA2186;
  --v-400: #AA2186;
  --v-500: #AA2186;
  --v-600: #AA2186;
  --v-700: #AA2186;
  --v-800: #AA2186;
  --v-900: #000;

  // Common color aliases
  --color-woot: var(--w-500);

  --color-heading: #000;
  --color-body: #0000;

  --color-border: var(--s-200);
  --color-border-light: var(--s-200);
  --color-border-dark: var(--s-200);

  --color-background: var(--s-200);
  --color-background-light: var(--s-200);

  // Social and inboxes brand colors
  --color-facebook-brand: #3b5998;
  --color-twitter-brand: #1da1f2;
  --color-whatsapp-brand: #25d366;
  --color-sms-twilio: #f42f46;
  --color-cloud-generic: #18b7b0;
}
